@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


.fundoAplicacao{
    display: flex;
    height: 100vh;
    background-color: #FB6B6B;
    border: 1px solid #DBDBDB;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}